# Database
DATABASE_URL=
DIRECT_URL=

# Authentication
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=

# AI
OPENAI_API_KEY=

# Security
ENCRYPTION_KEY=
SENSITIVE_PEPPER=

# App
APP_URL=http://localhost:3000
NODE_ENV=development